<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Daniel B. Marques</string>
	<key>Builder Version</key>
	<string>12602.1.50.0.8</string>
	<key>CFBundleDisplayName</key>
	<string>Reddit PGN Viewer</string>
	<key>CFBundleIdentifier</key>
	<string>co.leio.safari-pgn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>jquery-2.1.4.min.js</string>
				<string>pgnyui.js</string>
				<string>pgnviewer.js</string>
				<string>rchesspgn.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>board-min.css</string>
			<string>rchess.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>View PGN boards inline on r/chess</string>
	<key>DeveloperIdentifier</key>
	<string>FAEW2663FW</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.reddit.com/r/chess</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/dbmrq/safari-pgn</string>
</dict>
</plist>
